<div class="row">
    <div class="col-md-6 offset-md-3">
        <form method="post" action="/home/checkboxdemo">
            <input type="text" class="form-control" name="name" placeholder="Name" />
            <div class="row">
                <div class="col-md-2">
                    <label>Is Awesome</label>
                </div>
                <div class="col-md-6">
                    <input type="checkbox" value="true" name="isawesome" class="form-control" />
                    @*<input type="hidden" value="false" name="isawesome" />*@
                </div>
            </div>
            <button class="btn btn-success btn-block">Submit</button>
            

        </form>
    </div>
</div>